<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Offline</title>
</head>

<body>

    <header>
        <h1>Ops</h1>
    </header>

    <div id="main">
        <p>Offline message heeeeeeere ;)</p>
    </div>

    <script type="text/javascript" src="js/webapp.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
</body>
</html>
